.login {
    margin: 8em auto auto auto;
    padding: 2em;
    max-width: 512px;
    border: 1px solid lightgray;
    background-color: white;
}

.form-style {
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    background-color: white;
}

.pdfviewer {
    display: block;
    margin: auto;
    height: 100vh;
    width: 70%;
}

@media only screen and (max-width: 1286px) {
    .pdfviewer {
        width: 100%;
    }
}

@media only screen and (max-width: 512px) {
    .login {
        margin: auto;
        height: 100vh;
    }
}