.login {
    margin: auto;
    padding: 2em;
    max-width: 450px;
    border: 1px solid lightgray;
}

.form-style {
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    background-color: white;
}
