html {
    scroll-behavior: smooth;
}

.login {
    margin: 8em auto auto auto;
    padding: 2em;
    max-width: 512px;
    border: 1px solid lightgray;
    background-color: white;
}

.form-style {
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    background-color: white;
}

label.upload-button input[type="file"] {
    position:absolute;
    top: -1000px;
}

.upload-button {
    border: 1px solid black;
    padding: 2px 5px;
    margin: 2px;
    background: white;
    text-align: center;
    transition: 0.3s all ease-in-out;
}

.upload-button {
    color: black;
}

.upload-button:hover {
    color: #1890ff;
    border: 1px solid #1890ff;
}

.upload {
    display: flex;
    flex-direction: column;
    max-width: 150px;
}

.upload img {
    margin-top: 1em;
}

.pdfviewer {
    display: block;
    margin: auto;
    height: 100vh;
    width: 70%;
}

.mobile-nav-icon {
    padding: 0.6em;
    font-size: 2em;
    color: white;
}

.mobile-nav-icon:hover {
    color: #1890ff;
    transition: 0.3s all ease-in-out;
}

@media only screen and (max-width: 1286px) {
    .pdfviewer {
        width: 100%;
    }
}

@media only screen and (max-width: 980px) {
    .main-menu-affix {
        top: -50em;
        left: -50em;
    }
}

@media only screen and (max-width: 512px) {
    .login {
        margin: auto;
        height: 100vh;
    }
}